
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  overflow-x: hidden; /* Prevent horizontal scrolling on the body */
  text-align: center;
}

.food-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}

.view-cart-button{
  background-color: #ff9900;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.view-cart-button:hover{
  background-color: #e68a00;
}


@media (min-width: 601px) and (max-width: 1024px) {

  body {
    font-size: 24px; /* Smaller screens */
  }


  .food-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* Two columns */
      gap: 20px; /* Adjust as needed */
  }
}


@media (min-width: 601px) and (max-width: 1024px){
  .view-cart-button {
    font-size: 24px;
  }

}


@media (max-width: 600px){

  body {
    font-size: 24px; /* Smaller screens */
  }

  .view-cart-button {
    font-size: 24px;
  }
}